{% assign extra_curricular = site.data.data.extra_curricular %} {% if extra_curricular %}
<section class="section experiences-section">
    <h2 class="section-title">
        <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span> Leadership and Teaching
    </h2>

    {% for experience in extra_curricular %}
    <div class="item">

        <div class="meta">

            <div class="upper-row">
                {% if experience.link %}
                <h3 class="job-title"><a href="{{ experience.link }}">{{ experience.title }}</a></h3>
                {% else %}
                <h3 class="job-title">{{ experience.title }}</h3>
                {% endif %}
                <div class="time">{{ experience.time }}</div>
            </div>
            <!--//upper-row-->
            <div class="lower-row">
                <div class="company">{{ experience.role }} 
                </div>
            </div>

        </div>
        <!--//meta-->

        {% if experience.details %}
        <div class="details" style="text-align: justify" >
            {{ experience.details | markdownify }}
        </div>
        <!--//details-->
        {% endif %}

    </div>
    <!--//item-->
    {% endfor %}

</section>
<!--//section-->
{% endif %}



<!-- 
{% assign skills = site.data.data.skills %} {% if skills %}
<section class="skills-section section">

    <h2 class="section-title">
        <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span> {{ skills.title }}
    </h2>

    <div class="skillset">

        {% for skill in skills.toolset %}
        <div class="item">

            <h3 class="level-title">{{ skill.name }}</h3>
            <br>

            <div class="details" style="text-align: justify">
                {{ skill.details | markdownify }}
            </div>

 <div class="level-bar">
        <div class="level-bar-inner" data-level="{{ skill.level }}">
        </div>
      </div>//level-bar

        </div>
        //item
        {% endfor %}

    </div>

</section>
//skills-section
{% endif %} {% assign skills = site.data.data.coursework %} {% if skills %}
<section class="skills-section section">

    <h2 class="section-title">
        <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span> {{ skills.title }}
    </h2>

    <div class="skillset">

        <div class="item">

            <div class="details" style="text-align: justify">
                {{ skills.details | markdownify }}
            </div>

        </div>

    </div>

</section>
{% endif %} {% assign skills = site.data.data.leadership %} {% if skills %}
<section class="skills-section section">

    <h2 class="section-title">
        <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span> {{ skills.title }}
    </h2>

    <div class="skillset">

        <div class="item">

            <div class="details" style="text-align: justify">
                {{ skills.details | markdownify }}
            </div>

        </div>

    </div>

</section>
{% endif %} -->